.margin {
  margin: 20px 0 0 20px;
}

.nav-pills > li {
  padding-bottom: 10px;
}

.nav-pills > li > a {
  background-color: none;
  border: 1px solid #00C195;
  color: #00C195;
}

.nav-pills > li.active > a {
  background-color: #00C195;
  color: #fff;
}

.nav-pills > li.active > a:hover {
  background-color: #00C195;
  color: #fff;
}

.nav-pills > li.active > a:visited {
  background-color: #00C195;
  color: #fff;
}

.logo {
  width: 200px;
  margin: 20px 0 0 35px;
}

.tracklist {
  background-color: #f8f8f8;
  padding: 10px; 
  border-radius: 5px;
}

td:hover {
  background-color: #00C195 !important;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}