.margin {
  margin: 20px 0 0 20px;
}

.nav-pills > li {
  padding-bottom: 10px;
}

.nav-pills > li > a {
  background-color: none;
  border: 1px solid #00C195;
  color: #00C195;
}

.nav-pills > li.active > a {
  background-color: #00C195;
  color: #fff;
}

.nav-pills > li.active > a:hover {
  background-color: #00C195;
  color: #fff;
}

.nav-pills > li.active > a:visited {
  background-color: #00C195;
  color: #fff;
}

.logo {
  width: 200px;
  margin: 20px 0 0 35px;
}

.tracklist {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
}

td:hover, td:active {
  background-color: #00C195 !important;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.fanbase {
  display: inline-block;
  list-style: none;
}

.some-img {
  width: 50px;
  height: 50px;
  margin-right: 90px;
}

.fanbase-stats {
  border-radius: 10px;
  border: 1px solid #222;
  padding: 8px;
  text-align: center;
}

.no-list {
  border-radius: 10px;
  border: 1px solid #222;
  padding: 8px;
  list-style: none;
  text-align: center;
}