

<img class="logo" src="src/assets/logo.png"/>

<div class="row margin" ng-init="loadYoutubeTracks()">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#/home">All Channels</a></li>
      <br />
      <li role="presentation" ng-click="loadYoutubeTracks()">
        <a href="#/home">YouTube</a>
      </li>
      <li role="presentation">
        <input type="text" class="form-control" placeholder="" ng-model="youtubeUsername">
      </li>
      <br />
      <li role="presentation" ng-click="loadSoundcloudTracks()">
        <a href="#/home">SoundCloud</a>
      </li>
      <li role="presentation">
        <input type="text" class="form-control" placeholder="" ng-model="soundcloudUsername">
      </li>
      <br />
      <li role="presentation" ng-click="loadSpotifyTracks()">
        <a href="#/home">Spotify</a>
      </li>
      <li role="presentation">
        <input type="text" class="form-control" placeholder="" ng-model="spotifyUsername">
      </li>
  </ul>
  </div>
  <div class="col-md-3 tracklist">
  <h4> Channel: {{ source ? source: 'None'}}</h4>
  <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
<div style=height:450px;overflow:auto>
  <div style="cursor:pointer;margin-bottom:3px;margin-top:3px;"; ng-repeat="track in tracks | filter:searchText" ng-click="showTrack(track)">
      <div style=display:table-cell;>
          <img class="media-object" ng-src="{{ track.image ? track.image : 'src/assets/default-cd-icon.png'}}" style="width: 40px; height: 40px;">
      </div>
      <div style=display:table-cell;vertical-align:middle;padding-left:8px;>
        <h5 style=margin-top:5px;> {{track.title}}</h5>
      </div>
    </div>
  <img class="logo" src="src/assets/loader.gif" ng-show="loaded" width="200px" heigth="200px"/>
</div>
    
  </div>
  <div class="col-md-7" ng-show=currentTrack>
    <select class="form-control" ng-model="selectedTimeFrame" ng-options="item as item.label for item in timeFrames track by item.id" ng-change="updateChart()"></select>
    <div id="graph"></div>
  </div>

  </div>
