

<img class="logo" src="src/assets/logo.png"/>

<div class="row margin" ng-init="loadYoutubeTracks()">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#/home">All Channels</a></li>
      <br />
      <li role="presentation" ng-click="loadYoutubeTracks()">
        <a href="#/home">YouTube</a>
      </li>
      <li role="presentation">
        <input type="text" class="form-control" placeholder="" ng-model="youtubeUsername">
      </li>
      <br />
      <li role="presentation" ng-click="loadSoundcloudTracks()">
        <a href="#/home">SoundCloud</a>
      </li>
      <li role="presentation">
        <input type="text" class="form-control" placeholder="" ng-model="soundcloudUsername">
      </li>
      <br />
      <li role="presentation" ng-click="loadSpotifyTracks()">
        <a href="#/home">Spotify</a>
      </li>
      <li role="presentation">
        <input type="text" class="form-control" placeholder="" ng-model="spotifyUsername">
      </li>
  </ul>
  </div>
  <div class="col-md-3 tracklist">
  <h4> Channel: {{ source ? source: 'None'}}</h4>
  <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
  <table class="table table-hover" ng-repeat="track in tracks | filter:searchText | limitTo:10" ng-click="showTrack(track)">
    <tr><td> {{track.title}}</td></tr>
  </table>
    
  </div>
  <div class="col-md-7" >
    <select class="form-control" ng-model="selectedTimeFrame" ng-options="item as item.label for item in timeFrames track by item.id" ng-change="updateChart()"></select>
    <h5 class="floatright">FB: 112 &nbsp;&nbsp; Twitter: 187</h5>
    <div id="graph"></div>
  </div>

  </div>
