<h1>Fanbase</h1>

<div class="row">
	<div class="col-md-2">
	  	<ul>
	  		<li class="no-list" style="border:none;"><img class="some-img" src="src/assets/ic_fb.png" /></li>
	  		<li class="no-list" id="facebook-total"></li>
	  		<li class="no-list" id="facebook-sinceYesterday"></li>
		</ul>
	</div>

	<div class="col-md-2">
	  	<ul>
	  		<li class="no-list" style="border:none;"><img class="some-img" src="src/assets/ic_tw.png" /></li>
	  		<li class="no-list" id="twitter-total"></li>
	  		<li class="no-list" id="twitter-sinceYesterday"></li>
		</ul>
	</div>

	<div class="col-md-2">
	  	<ul>
	  		<li class="no-list" style="border:none;"><img class="some-img" src="src/assets/ic_ig.jpg" /></li>
	  		<li class="no-list" id="instagram-total"></li>
	  		<li class="no-list" id="instagram-sinceYesterday"></li>
		</ul>
	</div>

	<div class="col-md-2">
	  	<ul>
	  		<li class="no-list" style="border:none;"><img class="some-img" src="src/assets/ic_sc.png" /></li>
	  		<li class="no-list" id="soundcloud-total"></li>
	  		<li class="no-list" id="soundcloud-sinceYesterday"></li>
		</ul>
	</div>
	<div class="col-md-2">
	  	<ul>
	  		<li class="no-list" style="border:none;"><img class="some-img" src="src/assets/ic_sf.jpg" /></li>
	  		<li class="no-list" id="spotify-total"></li>
	  		<li class="no-list" id="spotify-sinceYesterday"></li>
		</ul>
	</div>

	<div class="col-md-2">
	  	<ul>
	  		<li class="no-list" style="border:none;"><img class="some-img" src="src/assets/ic_yt.png" /></li>
	  		<li class="no-list" id="youtube-total"></li>
	  		<li class="no-list" id="youtube-sinceYesterday"></li>
		</ul>
	</div>
</div>