<h1>{{fanbaseData}}</h1>

<div class="row margin">
  <div class="col-md-12">
    <ul>
      <li class="fanbase"><img class="some-img" src="src/assets/ic_fb.png" /></li>
      <li class="fanbase"><img class="some-img" src="src/assets/ic_tw.png" /></li>
      <li class="fanbase"><img class="some-img" src="src/assets/ic_ig.jpg" /></li>
      <li class="fanbase"><img class="some-img" src="src/assets/ic_sc.png" /></li>
      <li class="fanbase"><img class="some-img" src="src/assets/ic_sf.jpg" /></li>
      <li class="fanbase"><img class="some-img" src="src/assets/ic_yt.png" /></li>
  </ul>
  </div>
</div>