<div ng-view="" class="ng-scope"><input type="text" class="form-control ng-pristine ng-valid ng-scope ng-touched" placeholder="" value="kanyewestvevo" ng-model="youtubeUsername">

<button ng-click="youtubeFanbase(youtubeUsername)" class="ng-scope">try new username</button>


<div class="row margin">
  <div class="col-md-12">
    <table>
    	<tr>
	    	<td><img class="some-img" src="src/assets/ic_fb.png" /></td>
	    	<td><img class="some-img" src="src/assets/ic_tw.png" /></td>
	    	<td><img class="some-img" src="src/assets/ic_ig.jpg" /></td>
	    	<td><img class="some-img" src="src/assets/ic_sc.png" /></td>
	    	<td><img class="some-img" src="src/assets/ic_sf.jpg" /></td>
	    	<td><img class="some-img" src="src/assets/ic_yt.png" /></td>
		</tr>
		<tr>
			<td>
				<ul>
					<li class="no-list" id="facebook-total">12</li>
					<li class="no-list" id="facebook-sinceYesterday">12321</li>
				</ul>
			</td>
		</tr>
	</table>
  </div>
</div>